<jce-spinner [visible]="isLoading"></jce-spinner>
<div>
  <jce-user-form (userAddedEvent) = "addUser($event)"></jce-user-form>
  <ul class="list-group users">
    <li class="list-group-item" 
        *ngFor = "let user of users" 
        [class.active]="currentUser == user" 
        (click)="select(user)" >
      <jce-user [user] ="user" (deleteEvent) = "deleteUser($event)"></jce-user>
    </li>
  </ul>
<jce-posts></jce-posts>
</div>